:root{
  --deepPurple: #1B1717;
  --darkRed: #630000;
  --lightRed: #810000;
  --beige: #EEEBDD;
}

body, html {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  background: var(--deepPurple);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
    background: var(--deepPurple);
}

.wrapper {
  background: var(--deepPurple);
  padding: 25px;
}



h3{
  color: var(--beige)
}
p{
  color: var(--beige)
}

.aboutMe{
  padding: 10px;
}