

:root{
  --darkBlue: #4B6587;
  --beige: #F0E5CF;
  --greyBeige: #C8C6C6;
  --lightBeige: #F7F6F2;
  --navWhite: #F7FBFC;
  --navBlack: #212529;
}

body, html {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;

  background: var(--darkBlue);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
    background: var(--darkBlue);
}

.wrapper {
  background: var(--darkBlue);
  padding: 25px;
  font-family: 'El Messiri', sans-serif;
}


p{
  margin: 3%;
}

.containerStyle{
  margin: 4%;
  padding-top: 2%;
  /* background-color: var(--greyBeige); */
  background: radial-gradient( var(--greyBeige) 0%, var(--beige) 100%);
  border: outset var(--beige);
} 

.botRow{
  padding-top: 4%;
}
.botCol{
  border: inset;
  border-color: var(--beige);
  background-color: var(--greyBeige);
  padding-top: 3%;
  padding-bottom: 2%;
  margin: 5%;
}

.picRow{
border-top: double var(--navBlack);
border-bottom: double var(--navBlack);
padding-top: 2%;
padding-bottom: 2%;
max-height: 1%;
}
.picBox{
  border: inset;
  border-color: var(--lightBeige);
  background-color: var(--darkBlue);
  padding: 2%;
  margin:2%;
  border-radius: 5%;
}

.projectCard{
  margin: 15px;
}

.portHead{
  padding-top: 2%;
  margin-bottom: 2%;
  text-align: center;
}

.contactHead{
  margin-top: 1%;
}



.nav-item{
  color: var(--beige);
}

.slidePic{
  border-radius: 5%;
  box-shadow: inset 0px 0px var(--lightBeige), 0 0 15px var(--lightBeige);
  margin-top: 1%;
  margin-bottom: 1%;
} 

.contactIcon{
  border-radius: 25%;
  max-width: 15%; 
  max-height: 15%;
}

.contactIcon:hover{
  box-shadow: inset 0px 0px var(--beige), 0 0 15px var(--beige)
}

.contactBox{
  border: inset;
  border-color: var(--lightBeige);
  background-color: var(--darkBlue);
  margin-left: 10%;
  margin-right: 10%;
  margin-bottom: 4%;
  padding-top: 5%;
  padding-bottom: 5%;
  border-radius: 5%;
}
.contactText{
  color: var(--lightBeige);
}

.contactRow{
  border-top: double var(--navBlack);
  padding-top: 4%;
  border-bottom: double var(--navBlack);

  }

  .portBox{
    border: inset;
    border-color: var(--lightBeige);
    background-color: var(--navBlack);
    padding-top: 5%;
    padding-bottom: 5%;
    margin-left: 5%;
    margin-right: 5%;
    border-radius: 5%;
  }
  
  .resStart{
    border-top: double var(--navBlack);
    padding-top: 2%;
    max-height: 1%;
    }


  .resStyle{
    padding-left: 5%;
    padding-right: 5%;
  }

  .resProjectStyle{
    padding-left: 8%;
    padding-right: 8%;
  }
 

  .resTitle{
    padding-top: 2%;
  }

  .resListStyle{
    padding-left: 10%;
    padding-right: 8%;
  }

  .resEnd{
      border-bottom: double var(--navBlack);
      padding-bottom: 2%;
      max-height: 1%;
  }

  .downloadIcon{
    border-radius: 25%;
    max-width: 10%; 
    max-height: 10%;
  }

  .downloadIcon:hover{
    box-shadow: inset 0px 0px var(--lightBeige), 0 0 15px var(--navWhite)
  }

 .footerRow{
  justify-content: center;
 }
 .footerColOne{
  justify-content: flex-end;
 }